.acordeon{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.acordeon .trigger{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;


}
.acordeon .content{
    display:none;
}